.Catalogue__Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  max-width: min-content;
}

.Catalogue__Container > .Polaris-Card:first-child {
  margin-top: 2rem;
}

.CatalogueProductListing__MainPreviewImageContainer {
  width: 280px;
  height: 400px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

#favorite-icon {
  font-size: 30px;
}

.CatalogueProductListing__PriceDisplay {
  font-weight: bold;
  text-align: right;
}
